<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .cursive {
        color: blue
        }
    </style>
</head>
<body>
<div>
    <h1>Playwright</h1>
    <h2>Python</h2>
    <p class="cursive">Playwright framework with PageFactory</p>
    <a href="https://playwright.dev/" target="_blank">Documentation</a>
    <img alt="browsers.png" src="https://playwright.dev/img/logos/Browsers.png" style="width: 250px">
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
    </ul>
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
    </ol>
    <form action="/action" method="POST">
        <input placeholder="email" type=email required>
        <textarea placeholder="Text">12345</textarea>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>